/*
  Colors for CSS
  darkcyan:     #0B5269
  darkblue:     #03051E
  lightkhaki:   #978D58
  lightsalmon:  #EAE1E1
*/

:root {
  --theme-color-light: #EAE1E1;
  --theme-color-medium: #978D58;
  --theme-color-darker: #0B5269;
  --theme-color-dark: #03051E;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: var(--theme-color-light);
  font-family: sans-serif;
  height: 100vh;
}

.container { /* header + chat-message-list + form */
  min-width: 350px;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--theme-color-dark);
  color: var(--theme-color-light);
  margin-bottom: .25rem;
  padding: 2rem .5rem 1rem;
}

.app-title {
  font-size: larger;
  flex-grow: 1;
  overflow: hidden;
  max-width: 75%;
}

.app-logout-button {
  color: var(--theme-color-light);
  background-color: var(--theme-color-darker);
  border-radius: var(--border-radius);
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: bold;
  padding: .4rem;
}

button:hover {
  cursor: pointer;
}

.chat-message-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 .25rem;
  height: 100%;
  overflow-y: scroll;
}

.chat-message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: fit-content;
  width: fit-content;
  margin-bottom: .25rem;
  padding: .25rem;
  max-width: 85%;

  color: var(--theme-color-light);
  background-color: var(--theme-color-darker);
  border-radius: var(--border-radius);
}

.user-message {
  background-color: var(--theme-color-medium);
  align-self: flex-end;
}

.chat-message-text {
  align-self: center;
}

.delete-message-button {
  display: flex;
  background-color: var(--theme-color-darker);
  color: var(--theme-color-light);
  font-size: 1.25rem;
  /* font-weight: bold; */

  align-self: flex-end;
  justify-content: center;
  /* align-content: center; */

  flex-shrink: 0;

  border-radius: 50%;
  height: 1.5rem;
  line-height: 1.25rem;
  width: 1.5rem;
  margin: .25rem;
  margin-left: .5rem;
  border: 2px solid var(--theme-color-medium);
}

.message-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .25rem .25rem 1rem;
}

.message-form-input {
  flex-grow: 1;
  border: 1px solid var(--theme-color-dark);
  border-radius: var(--border-radius);
  padding: 0 .25rem;
  outline: none;
}

.message-form-button {
  flex-grow: 0;
  background-color: var(--theme-color-darker);
  color: var(--theme-color-light);
  font-size: 1rem;
  font-weight: bold;
  margin-left: .25rem;
  padding: .4rem;
  border-radius: var(--border-radius);
}

/**********************
*                     *
*    login styling    *
*                     *
**********************/

 .login-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 2rem auto;
  padding: 0 1rem 1rem;
  font-size: 1.5rem;

  border-radius: var(--border-radius);
  border: 1px solid var(--theme-color-darker);
} 

.login-input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.login-label {
  color: var(--theme-color-darker);
  flex-grow: 0;
  margin-bottom: .25rem;
}

/* Always use padding and line-height css property [for input styling] 
It's perfect for all mobile device and all browser. */

.login-input {
  line-height: 1.5rem;
  font-size: 1.5rem;
  padding: .5rem 0 0 .25rem;
  width: 100%;
  border-radius: var(--border-radius);
  outline: 1px solid lightgray;

  /* border: 2px solid brown; */
}

.login-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.submit-button,
.login-button,
.signup-button {
  color: var(--theme-color-darker);
  background-color: var(--theme-color-light);

  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);

  font-size: 1rem;
  font-weight: bold;
  height: 2.5rem;
  margin-bottom: .5rem;
  padding: .4rem;

  min-width: 4rem;
  width: 50%;

  border: 2px solid var(--theme-color-darker);
}

.signup-button {
  border-radius: 0px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.selected-button {
  color: var(--theme-color-light);
  background-color: var(--theme-color-darker);
}

.submit-button {
  color: var(--theme-color-light);
  background-color: var(--theme-color-darker);
  border-radius: var(--border-radius);  
  margin: 1rem auto 0;  
  width: 50%;
}

.loading-messsage {
  color: var(--theme-color-dark);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}
